<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PayRollFix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PayRollFix.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <img src="logo.png" alt="PayrollFix Logo">
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark text-white py-sm-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Pages</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Home")" class="text-white">Home</a></li>
                        <li><a href="@Url.Action("About", "Home")" class="text-white">About Us</a></li>
                        <li><a href="@Url.Action("Contact", "Home")" class="text-white">Contact Us</a></li>
                        <li><a href="@Url.Action("Support", "Home")" class="text-white">Support</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Services</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Accounting</a></li>
                        <li><a href="#" class="text-white">Banking</a></li>
                        <li><a href="#" class="text-white">Payroll</a></li>
                        <li><a href="#" class="text-white">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact</h5>
                    <p>86 East Birchwood Ave<br>Brooklyn, New York 11201</p>
                    <p>Email: <a href="mailto:contact@payrollfix.com" class="text-white">contact@payrollfix.com</a></p>
                    <p>Phone: <a href="tel:1234567890" class="text-white">(123) 456-7890</a></p>
                    <div class="social-icons">
                        <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white mr-3"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class="text-white mr-3"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
