@model IEnumerable<Payrollfix_poc.Models.Attandence>

@{
	ViewData["Title"] = "Attendance Details for Employee";
	Layout = "~/views/Shared/_EmployeeLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-12">
        @await Html.PartialAsync("_NavbarPartial")  <!-- Include your navbar -->
		</div>
		<div class="col-lg-10 col-md-9 col-12">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Check In</th>
					<th>Check Out</th>
					<th>Work Hours</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Date.ToString("dd MMM yyyy")</td>
						<td>@item.CheckInTime?.ToString("HH:mm:ss")</td>
						<td>@item.CheckOutTime?.ToString("HH:mm:ss")</td>
							<td>
								@if (item.WorkHours != null)
								{
									var totalHours = (double)item.WorkHours;
									var timeSpan = TimeSpan.FromHours(totalHours); // Convert double to TimeSpan
									@timeSpan.ToString(@"hh\:mm")
								}
							</td>

							<td>@item.Status</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
</div>

<style>
	.table {
		width: 100%;
		margin-top: 15px;
		border-collapse: separate;
		border-spacing: 0 10px; /* Add spacing between rows */
	}

		.table th {
			font-weight: bold;
			color: #666;
			text-align: left;
		}

		.table td {
			background-color: white;
			padding: 10px;
			border-radius: 8px;
		}
</style>

