@model IEnumerable<Payrollfix_poc.Models.Timesheet>

@{
	ViewBag.Title = "Timesheet List";
}
@{
	Layout = "~/views/Shared/_EmployeeLayout.cshtml";
	string name = ViewBag.PartialView;
}

<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-12">
			@await Html.PartialAsync(name)
		</div>
		<!-- Employee Search Form -->
		<div class="col-lg-10 col-md-9 col-12">
			<h2>Timesheet List</h2>
			<div class="mb-3">
				<a asp-action="Create" class="btn btn-primary">Add Timesheet</a>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Hours Worked</th>
						<th>Description</th>
						<th>Actions</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var timesheet in Model)
					{
						<tr>
							<td>@timesheet.Date.ToShortDateString()</td>
							<td>@timesheet.HoursWorked</td>
							<td>@timesheet.Description</td>
							<td>
								@if (timesheet.CreatedAt.Date >= DateTime.Today)
								{
									<a asp-action="Edit" asp-route-id="@timesheet.TimesheetId" class="btn btn-warning">Edit</a>
									<a asp-action="Delete" asp-route-id="@timesheet.TimesheetId" class="btn btn-danger">Delete</a>
								}
								else
								{
									<a class="btn visually-hidden-focusable"> Edit</a>
									<a class="btn visually-hidden-focusable"> Delete</a>
								}
							</td>
							<td>@timesheet.Status</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<style>
	.btn {
		margin-right: 10px;
	}

	.btn-primary {
		background-color: #00b3a0;
		border: none;
	}

	.btn-warning {
		background-color: #f0ad4e;
		border: none;
	}

	.btn-danger {
		background-color: #d9534f;
		border: none;
	}

		.btn-primary:hover, .btn-warning:hover, .btn-danger:hover {
			opacity: 0.8;
		}

	.table {
		width: 100%;
		margin-top: 15px;
		border-collapse: separate;
		border-spacing: 0 10px; /* Add spacing between rows */
	}

		.table th {
			font-weight: bold;
			color: #666;
			text-align: left;
		}

		.table td {
			background-color: white;
			padding: 10px;
			border-radius: 8px;
		}
</style>
